.body {
    text-align: center;
  }
  
header {
    text-align: center;
    background-color: aqua;
    padding: 20px;
  }
  
.main {
    text-align: center;
  }

aside {
    padding: 20px;
  }

  aside p {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

button {
    float: left;
    padding: 8px;
  }
  
#section {
    text-align: center;
  }